
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$text-primary: #35308E;
$text-red: #FF5757;
$text-black: #353434;
$text-grey: #999;
