

.tt-sd-container {
  position: relative;
  /* float: left; */
}

.tt-open-btn {
    position: absolute;
    top: 40px;
    right: 3px;
    width: 25px;
    height: 25px;
    pointer-events: none;
}

.tt-open-btn button {
  border: none;
  background: transparent;
}

.tt-rectangle-filter {
   width: 459px;
   height: 230px;
  border-radius: 4px;   
  border: solid 0.7px #97979785;
 background-color: var(--white);
}

.modal.fade .modal-dialog {
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
    -webkit-transition: opacity 0.5s linear, left 0.3s ease-out;
     -moz-transition: opacity 0.5s linear, left 0.3s ease-out;
       -o-transition: opacity 0.5s linear, left 0.3s ease-out;
          transition: opacity 0.5s linear, left 0.3s ease-out;
}


 .delivery-confirm-btn {
 background-color:
#FFF;
border: 0.5px solid
#97979785;
margin-right: 20px;
}

.tt-userlist-delivery {
  width: 226px;
  height: 45px;
  background-color: var(--white);
}

.tt-delivery-footer{
  color:rgba(121, 118, 118, 0.74);
  font-size: 12px;
  margin-top: 5px;
  display: inline-block;
  margin-left: 10%;
}

.tt-delivery-pagination {
  position: relative;
    display: block;
    padding: .5rem .5rem;
    margin-left: -1px;
    line-height: 1.25;
    font-size: 14px;
}